################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleAngularJSSite/.vs/SimpleAngularJSSite/v15/Server/sqlite3
