################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleAngularJSSite/.vs/SimpleAngularJSSite/v15/Server/sqlite3
/Angular-2/SimpleAngularJSSite/.vs
/Angular-2/Simple-AngularJS-Site-ApiCall/.vs
/Angular-2/Simple-Angular-Site/.vs
/Angular-2/Simple-Angular-Site-ApiCall/.vs
